@media (max-width: 800px) {
  .content {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 5px;
  }
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    height: 70px;
    width: 100%;
    position: fixed;
    background: #0F7BFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-bar__burger {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .nav-bar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 69px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 250px;
    background: #0F7BFF;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  .nav-bar__menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar__menu-links > a {
    color: white;
    font-size: 18px;
  }
  #burger-toggle:checked ~ .nav-bar__menu {
    visibility: visible;
    height: 250px;
    padding: 20px 0;
  }
  .header__block {
    margin-top: 90px;
    width: 90%;
  }
  .header__block-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
  }
  .header__block-buttons > button {
    width: 320px;
    margin-bottom: 5px;
  }
  .header .devices {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: -1;
  }
  .header .devices > img {
    width: 900px;
  }
  .features {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 0;
  }
  .features .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .features .content .card {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
  }
  .features .content .card-image {
    margin: 0;
  }
  .features .content .card-body {
    text-align: center;
  }
  .about {
    height: 1000px;
    padding: 60px 0;
  }
  .about .wide-card {
    width: 100%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about .wide-card__image-warp {
    overflow-x: clip;
    border-radius: 25px;
  }
  .about .wide-card__content-title {
    margin: 30px 0;
  }
  .about .wide-card > img {
    width: 100%;
  }
  .how-works {
    padding: 20px 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .how-works .content {
    padding: 0;
  }
  .how-works .content > p {
    width: auto;
  }
  .how-works .content .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .how-works .content .steps .step {
    width: 310px;
    margin-bottom: 20px;
  }
  .how-works .content .steps .step::after {
    display: none;
  }
  .pricing {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 0;
  }
  .pricing .description {
    margin-bottom: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }
  .pricing .plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pricing .plans .plan {
    width: 300px;
    height: 520px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .testimonials {
    height: 440px;
  }
  .testimonials > img {
    display: none;
  }
  .testimonials .reviews {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  .news-text {
    width: auto;
  }
  .news__block__other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .news-mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
  .news-mini-image {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .trial .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .subscribe {
    height: 250px;
    padding: 0;
  }
  .subscribe-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe-form-input {
    width: 80%;
    border-radius: 25px 25px 0 0;
  }
  .subscribe-form-button {
    border-radius: 0 0 25px 25px;
    width: 80%;
  }
  .footer {
    height: 200px;
  }
  .footer .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-connection {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }
  .scroll-up {
    display: none;
  }
}
/*# sourceMappingURL=style-small.css.map */