@media (max-width: 1200px) {
  .content {
    width: 800px;
  }
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    height: 70px;
  }
  .nav-bar__brand {
    height: 70px;
  }
  .features {
    padding: 50px 0;
  }
  .features .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .content .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 5px;
    text-align: left;
    padding: 20px;
  }
  .features .content .card-image {
    margin-right: 30px;
  }
  .features .content .card:nth-child(even) {
    margin: 5px;
  }
  .about .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .wide-card {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
  }
  .about .wide-card .link-more {
    color: white;
  }
  .about .wide-card__narrow-col {
    width: 100%;
    height: 100%;
  }
  .about .wide-card__wide-col {
    width: 100%;
    height: 100%;
  }
  .about .wide-card:first-child .wide-card__narrow-col {
    position: absolute;
    z-index: 5;
    color: white;
    background: rgba(1, 1, 1, 0.7);
    border-radius: 25px;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .about .wide-card:last-child .wide-card__wide-col {
    position: absolute;
    z-index: 5;
    color: white;
    background: rgba(1, 1, 1, 0.5);
    border-radius: 25px;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .step:nth-child(even)::after {
    width: 600px;
    left: -170px;
  }
  .pricing {
    height: 1000px;
  }
  .pricing .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
  .pricing .description .buttons-line {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pricing .plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .pricing .plans .plan {
    margin: 0;
  }
  .news {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 50px 0;
  }
  .news .content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 10px;
  }
  .news__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news__block__main {
    width: 100%;
    margin-bottom: 40px;
  }
  .news__block__other {
    width: 100%;
  }
  .footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=style-medium.css.map */